html,body{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    vertical-align: middle;
    margin: 10px auto;
    
}

.header{
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    font-size: 15px;
    color: gray;
    padding-top: 10px;
}

.container{
    width: 500px;
    margin: auto;
}

#input{
    
    width: 430px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-inline-start: 10px;
}

#addButton{
    background-color:rgb(26, 109, 192);
    color: white;
    height: 33px;
    width: 50px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

#tasksList{
    margin-top: 30px;
}

.tasks{
    width: 600px;
    height: 50px;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding-inline-start: 70px;
    
}

.delImg{
    width: 13px;
    position: relative;
    left: 550px;
    bottom: 37px;
}

.undoneImg{
    width: 20px;
    position: relative;
    right: 75px;
    bottom: 35px;
}

.doneImg{
    width: 20px;
    position: relative;
    right: 75px;
    bottom: 35px;
}

.done{
    width: 600px;
    height: 50px;
    margin: 5px auto;
    border: 1px solid black;
    padding-inline-start: 70px;
    text-decoration: line-through;
    
}

