* {
  margin: 0;
  padding: 0;
  font-family: Verdana,Arial,Helvetica,sans-serif;
}
.favourite{
  position: relative;
  align-content: center;
  display: block;
  margin-top: 95px;
  width: 100%;
  height: 550px;
}
#title{
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  z-index: 50;
  top: 73%;
  left: 20%;
  color: white;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
}
.next{
  position: absolute;
  z-index: 50;
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#sre{
  width: 100%;
  height: 550px;
  z-index: 0;
}
.element{
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}
button:hover{
  opacity: 20%;
}
.next:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}
.first{
  float: left;
}
.second{
  left: 90%;
}

.nextBut{
  background-color: transparent;
  border: none;
  font-size: 50px;
  color: rgb(240, 240, 240, 0.9);
  cursor: pointer;
}

.list {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.option {
  position: relative;
  z-index: 0;
  width: 425px;
  height: 285px;
  margin: 10px 10px 0 0;
  cursor: pointer;
  filter: grayscale(80%);
}
.option:hover{
  cursor: pointer;
  filter: grayscale(0);
}

.content {
  max-width: 1305px;
  margin: 15px auto auto;
  border-bottom: 5px black solid;
}

.title {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 50;
  width: 380px;
  top: 45%;
  font-size: 22px;
  color: white;
  text-align: center;
  margin-left: -420px;
  text-decoration: none;
}
.title:hover{
  text-transform: uppercase;
}
.popup {
  position: fixed;
  background-color: white;
  overflow: auto;
  z-index: 1002;
  box-shadow: 4px 8px 8px rgba(73,73,73,0.5);
  border-radius: 10px;
}
.popup .scrollwrap {
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
}
.popup .scrollwrap {
  padding: 15px;
}
.popup .cntt {
  margin: 5px;
}
#advsearch {
  font-size: 12px;
}

#advsearch .titles {
  font-size: 20px;
}

#advsearch > div {
  display: flex;
  flex-wrap: wrap;
}
#advsearch div {
  margin-bottom: 10px;
  margin-top: 10px;
}
#advsearch > div div:first-child {
  margin-top: 0;
  flex: 1 1 100%;
}

#advsearch .label {
  margin-bottom: 5px;
  font-weight: bold;
}
#searchText {
  font-size: 16px;
  border: solid grey 1px;
  height: 30px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0.3em;
}
textarea {
  width: 100%;
  height: 68px;
  margin-top: 4px;
}
textarea {
  border: solid grey 1px;
  padding-left: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 0.3em;
}
#advsearch .annotation {
  margin-top: 4px;
  font-style: italic;
  color: darkgrey;
}
#advsearch .btn {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}
.orange {
  color: #C64E00;
}
.hand {
  cursor: pointer;
}
.popupcross {
  font-size: 16px;
  font-weight: bold;
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.bbs{
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1100;
}
.ctBox{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.create{
  text-decoration: rgb(94, 111, 113) dashed 2px;
  color: rgb(94, 111, 113);
  font-family: "JetBrains Mono", serif;
  text-transform: uppercase;
  font-size: 30px;
}
.create:hover{
  background-color: rgb(20, 20, 20, 0.6);
  color: white;
}

.rec{
  color: black;
  position: absolute;
  z-index: 50;
  width: 40px;
  top: 10%;
  margin-left: -80px;
  background-color: transparent;
}
